language: cpp 
matrix:
  include:
    compiler: gcc
before_install:
  - sudo apt-get install -y doxygen
script:
  - git clone https://github.com/ImyaPolzovatelyaPolzovatel/Doxygen.git
  - mv matrixfact.c Doxygen
  - cd Doxygen 
  - ls
  - doxygen -g matrixfact.c
  - doxygen matrixfact.c
  - rm matrixfact.c
  - git config --global user.name "travis"
  - git config --global user.email "2019103620@pnu.edu.ru"
  - git add -A
  - git commit -am "Update doc from Travis CI"
  - git config --global push.default simple
  - git push -f -q https://ImyaPolzovatelyaPolzovatel:${GITHUB_API_KEY}@github.com/ImyaPolzovatelyaPolzovatel/Doxygen.git
branches:
  only:
    - master

