language: cpp 
matrix:
  include:
     compiler: gcc
script: 
  - gcc -fPIC -c matrixfact.c -o matrixfact.o
  - gcc -shared matrixfact.o -o libmatrixfact.so
  - gcc -I`pwd` -L`pwd` dinoPRO.c -lmatrixfact -o dinoPRO
branches:
  only:
    - master
